[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "translit.uk"]
	path = translit.uk
	url = https://github.com/amice13/translit.uk
